.form-element {
    margin: .5rem 0;
    width: 100%;
}
.form-element label {
    display: block;
    margin: .15rem 0;
    font-size: 1rem;
}
.form-element input {
    display: block;
    font-weight: bold;
    padding: .5rem;
    border-radius: .15rem;
    border: 2px solid #000;
}
.form-element input::placeholder {
    font-weight: normal;
}

@media only screen and (min-width: 768px) {
    .form-element {
        min-width: 12rem;
    }
  }